.place__like {
  width: 22px;
  height: 19px;
  background-image: url('../../../images/like-vector.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 22px 19px;
  border: none;
  background-color: white;
  padding: 0;
  flex-shrink: 0;
}