.profile__title {
  color: white;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}